<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menupos-fixed ">
	<div class="navbar-wrapper ">
		<div class="navbar-brand header-logo">
			<a href="/ocr/" class="b-brand">
				<div class="b-bg">
					<i class="feather icon-trending-up"></i>
				</div>
				<span class="b-title">Text Recognition</span>
			</a>
			<a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
		</div>
		<div class="navbar-content scroll-div ">


			<ul class="nav pcoded-inner-navbar ">
				<li class="nav-item pcoded-menu-caption">
					<label>Navigation</label>
				</li>
				<li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
					class="nav-item pcoded-hasmenu">
					<a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
					<ul class="pcoded-submenu">
						<li><a href="/ocr/">Dashboard</a></li>
					</ul>
				</li>

				<li data-username="widget Statistic Data Table User card Chart" class="nav-item pcoded-hasmenu">
					<a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">General OCR</span></a>
					<ul class="pcoded-submenu">
						<li><a href="/ocr/general_ocr/">Extract Data</a></li>
						<li><a href="/ocr/general_if/">Integrate</a></li>
						<li><a href="/ocr/general_us/">Usage Stats</a></li>
					</ul>
				</li>

				<li data-username="widget Statistic Data Table User card Chart" class="nav-item pcoded-hasmenu">
					<a href="#" class="nav-link"><span class="pcoded-micon"><i
								class="feather icon-grid"></i></span><span class="pcoded-mtext">Template OCR</span></a>
					<ul class="pcoded-submenu">
						<li><a href="/t_ocr/">Manage Labels</a></li>
						<li><a href="#">Extract Data</a></li>
						<li><a href="#">Integrate</a></li>
						<li><a href="#">Usage Stats</a></li>
					</ul>
				</li>


				<li data-username="Menu levels Menu level 2.1 Menu level 2.2" class="nav-item pcoded-hasmenu">
					<a href="#" class="nav-link"><span class="pcoded-micon"><i
								class="feather icon-layers"></i></span><span class="pcoded-mtext">Learning-based
							OCR</span></a>
					<ul class="pcoded-submenu">
						<li class="pcoded-hasmenu">
							<a href="#">BUILD</a>
							<ul class="pcoded-submenu">
								<li><a href="#">Manage Labels</a></li>
								<li><a href="#">Show Examples</a></li>
								<li><a href="#">Training Session</a></li>
							</ul>
						</li>
						<li class="pcoded-hasmenu">
							<a href="#">Extract Data</a>
							<ul class="pcoded-submenu">
								<li><a href="#">Extract Data</a></li>
								<li><a href="#">Integrate</a></li>
								<li><a href="#">Usage Stats</a></li>
							</ul>
						</li>
					</ul>
				</li>

				<!-- 
						<li data-username="Disabled Menu" class="nav-item disabled"><a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Disabled menu</span></a></li>
						<li data-username="Sample Page" class="nav-item"><a href="/sample-page.html" class="nav-link"><span
						            class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample
						            page</span></a></li>
						<li class="nav-item pcoded-menu-caption">
						    <label>Support</label>
						</li>
						<li data-username="Need Support" class="nav-item">
							<a href="https://appseed.us/support/" class="nav-link" target="_blank">
								<span class="pcoded-micon"><i class="feather icon-help-circle"></i></span><span class="pcoded-mtext">
									Need support?</span></a></li>
						-->

			</ul>

		</div>
	</div>
</nav>
<!-- [ navigation menu ] end -->