{% extends "tesseract_ocr/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Home {% endblock %}

{% block extrahead %} {% endblock %}

{% block extrastyle %} {% endblock %}

{% block content %}
<div class="col-lg-7 banner-txt text-center">
    <h3>Arkwith OCR Result</h3>
</div>
<div style="padding-left: 20px; padding-right: 20px">
    <img src="/static/media/{{data.image}}" alt="Uploaded Image" width="300px"
        style="margin: auto; border-radius: 10px; margin-bottom: 8px" />
    <h3 style="
                            color: tomato;
                            font-size: 30px;
                            font-family: 'Poppins', sans-serif;
                            text-align: left;
                            padding-bottom: 20px;
                        ">
        {{data.ocr_text}}
    </h3>
    <!--
    <a href="{% url 'tesseract_ocr:gettext' %}" style="
                            display: inline-block;
                            text-align: center;
                            border-radius: 10px;
                            text-decoration: none;
                            height: 30px;
                            width: 100px;
                            font-family: 'Poppins', sans-serif;
                            background: rgb(255, 85, 0);
                            background: linear-gradient(
                                90deg,
                                rgba(255, 85, 0, 1) 2%,
                                rgba(237, 109, 20, 1) 67%,
                                rgba(246, 128, 0, 1) 87%
                            );
                            border: 0px;
                            color: black;
                        ">Download</a>
    -->
</div>
{% endblock %}
{% block extrascript %} {% endblock %}
